<div class="phonecard">
  <div class="phonecard_content">
    <div class="phonecard_content--name">
        <span class="phonecard_content--firstname">{{User.firstName}}</span>
        <span>{{User.lastName}}</span>
      
      </div>
    <div class="phonecard_content--number">
    <span>{{User.phoneNumber}}</span>
   
    
    </div>
   

  </div>

  <div class="phonecard_functions">
    <a (click)="onDelete(User.phoneNumber)" class=" phonecard_functions--del">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </a>
    <a (click)="onUpdate(User.phoneNumber)" class=" phonecard_functions--update">
      <fa-icon [icon]="['fas', 'pen-square']"></fa-icon>
    </a>
  </div>
</div>
